*{
    margin: 0;
    padding: 0;
    font-size :- 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.parent{
    display: flex;
    background: url(./img/img_tree.png) no-repeat center;
    box-shadow: 0px 0px 55px 0px  rgb(63, 137, 152) inset;
    height: 600px;
    padding: 10px;
    overflow: scroll;
}
.parent::-webkit-scrollbar{
    display: none;
}
.myinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 53px;
    border-radius: 20%;
    box-shadow: inset 2px 18px 3px #917ea3;
    margin-left: 10%;
    margin-bottom: 6%;
}
.myinfo img{
    width: 178px;
    border-radius: 67%;
    box-shadow: 2px 2px 89px 3px #b6cde2;
}
.myinfo span{
    box-sizing: border-box;
   color: #020910;
}
/* navbar css*/
.logo{
    width: 176px;
    mix-blend-mode: darken;
}
.navbar{
    display: flex;
    background-color: rgb(232, 227, 237);
    box-shadow: 20px 20px 50px 10px rgb(63, 137, 152) inset ;
    object-fit: contain;
    padding: 10px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
    padding: 5px 13px; 
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;

}
.search input{
    flex: 1;
    width:35rem;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 40px;
}
.search button{
    width: 4em;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;

}
ul{
    display: flex;
    overflow: scroll;
}
ul::-webkit-scrollbar{
    display: none;
}
li{
    margin: 10px 0px;
    padding: 12px 3px;
    list-style: none;
}
.upper{
    padding: 1px 18px;
    text-decoration: none;
    cursor: pointer; 
    height: 5px;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 2px rgb(160, 130, 174);
}
.upper:hover{
    background-color: rgb(235, 215, 215);
    box-shadow: 2px 2px 2px 2px rgb(146, 146, 177);
    color: rgb(35, 29, 29);
    border-radius: 40px;
    width: 200px;
}
.info{
    display: flex;
    flex-direction: column;
    margin: 5px 34px;
    padding: 9px 34px; 
    align-items: center;
    justify-content: center;
}
.info img{
    width: 3vw;
    border-radius: 45px;
}

/*body strutre*/
.onclick{
    cursor: pointer;
    color: blue;
    font-size: 22px;
    text-decoration: underline; 
}.project h3{
    color: blue;
    font-size: 22px;
}
.project{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    border-bottom: 4px solid rgb(150, 150, 214);
    border-right: 3px solid  rgb(150, 150, 205);
    width: 42vw;
    border-radius: 10px;
}
.education{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    border-bottom: 4px solid rgb(150, 150, 214);
    border-right: 3px solid  rgb(150, 150, 205);
    width: 42vw;
    border-radius: 10px;
    
}
.quali{
    display: none;
    margin: 34px 34px;
    padding: 34px 34px;
    background: url(./img/download.png) no-repeat center;
    border-bottom: 4px solid rgb(188, 204, 240);
    border-right: 4px solid rgb(169, 202, 216);
    box-shadow:10px 10px 14px 0px rgb(63, 137, 152) inset ;
    border-radius: 40px;
    text-align: center;
    width: 42vw;
    margin-top: 5%;
    margin-left: 10%;
    mix-blend-mode: darken;
}.skilldes{
    display: none;
    overflow: hidden;
    border-bottom: 4px solid rgb(213, 220, 237);
    border-right: 4px solid rgb(155, 191, 218);
    box-shadow: 10px 12px 20px 0px rgb(165, 223, 235) inset;
    border-radius: 40px;
    text-align: center;
    width: 51vw;
    margin-top: 1%;
    margin-left: 8%;
    position: relative;
    align-items: center;
    justify-content: center;   
}
.posi{
    position: relative;
    right: 10px;
    cursor: pointer;
}
.skilldes img {
    width: 10%;
    padding: 10px;
    aspect-ratio: 4/5;
    mix-blend-mode: darken;
}
.skills{
    margin-top: 5%;
    margin-left: 10%;
    border-bottom: 4px solid rgb(150, 150, 214);
    border-right: 3px solid  rgb(150, 150, 205);
    width: 42vw;
    border-radius: 10px;
    
}
.experiance h3{
    color: blue;
    font-size: 22px;
}
.experiance{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    border-bottom: 4px solid rgb(150, 150, 214);
    border-right: 3px solid  rgb(150, 150, 205);
    width: 42vw;
    border-radius: 10px;
}
.skill{
    cursor: pointer;
    color: blue;
    font-size: 22px;
    font-family: inherit;
    text-decoration: underline; 
   
}
.skill2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    position: relative;
}
.outer{
    height: 70px;
    width: 70px;
    border-radius: 50% ;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgb(210, 210, 227, 15),
                -6px -6px 10px -1px rgb(108, 108, 133 ,15);
                
}
.inner{
    height:68px;
    width: 68px;
    border-radius: 50%;
    box-shadow: inset 6px 6px 10px -1px rgb(210, 210, 227, 15),
               inset -6px -6px 10px -1px rgb(108, 108, 133 ,15);            
} 
/*form area*/
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: aliceblue;
    box-shadow: 6px 6px 10px -1px #8c8cbf inset;
}

.center{
    display: flex;
    flex-direction: column;
}
.center input{
    padding: 8px 55px;
    margin: 7px 10px;
    background: #a9ced0;
    box-shadow: inset 2px 2px 5px 2px #8c8cbf;
    color: #261f1f;
    flex: 1;
    border-radius: 40px;
    outline: 0;
    border: 0;
}
/*utilit*/
::placeholder{
    font-weight:100 ;
}

#feedback{
    padding: 8px 55px;
    margin: 7px 10px;
    background: #a9ced0;
    box-shadow: inset 2px 2px 5px 2px #8c8cbf;
    color: #261f1f;
    flex: 1;
    border: 0;
    border-radius: 40px;
    outline: 0;
}
#sumbit{
    padding: 8px 10px;
    margin: 10px 10px;
    margin-left: 108px;
    background: #a9ced0;
    box-shadow: inset 2px 2px 5px 2px #8c8cbf;
    color: #261f1f;
    flex: 1;
    border-radius: 90%;
    cursor: pointer;
    outline: 0;
    width: 63px;
    border: 0;
}
/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #261f1f;
    mix-blend-mode: darken;
    color: white;
    height: 60px;
}
footer a img{
    width: 77px;
    height: 36px;
    padding: 1px 10px;
    mix-blend-mode: saturation;
}